.card {
  max-width: 25rem;
  min-height: 27rem;
  border-radius: 10% !important;
  box-shadow: 0px 0px 10px 2px #046860;
}

.card img {
  width: 25rem;
  height: 27rem;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

@media (max-width: 1024px) {
  .card {
    max-width: 13rem;
    max-height: 14rem;
    border-radius: 10% !important;
    box-shadow: 0px 0px 10px 2px #046860;
  }

  .card img {
    width: 13rem;
    height: 14rem;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
  }
}
